.gradient{
    width: 800px;
    height: 800px;
    /* linear gradient  */
    background-image:linear-gradient(45deg, red, blue,yellow,green);
    /* background-image:linear-gradient(to top, red, blue,yellow,green); */

    /* reapting  */
    background: repeating-linear-gradient(rgb(203, 7, 7)  , blue 10%, yellow);


}
.grad2{
    width :300px;
    height: 300px;
    border-radius: 50%;
   
    /* background: radial-gradient( red,green,yellow); */
    /* background: radial-gradient(circle, red,green,yellow); */
    
    
    
    /* background:conic-gradient( red, green, yellow ); */
    /* background:conic-gradient( red 0deg, red 10deg, green 10deg, green 20deg ); */

    background:repeating-conic-gradient( red 0deg, red 10deg, green 10deg, green 20deg );

}
.grad2:hover{
    transform: rotate(270deg);
}
/*  transform and transition  */