body{
    margin: 0;
    padding: 0;
}

.lorem{
    /* background-color: red;
    opacity: 0.7; */
    /*  rgb --> red green blue --- 0,0,0 -- 255,255,255 */
    /*  a -> alpha --> refers to opacity -- 0 to 1 */
    /* background-color: rgb(255,0,0); */
    /* background-color: rgba(255,0,0,0); */
    /*  hex values --> 0 -> f  */
    /*  000  -> fff

     */
/* background-color: #fff;
background-color: #E10000; */
height: 900px; 
width: 500px;
margin:auto;
background-image:url('../assets/image.png'); 
background-repeat: no-repeat;
background-repeat: repeat-x;
background-repeat: repeat-y;
background-size: cover; 
background-color: red;
 background-repeat: no-repeat; 
 background-size: contain;
/* 
background-position: right 350px top 360px ;
background-position: 20px  300px ; */

/* background-attachment: fixed;
background-attachment: scroll; */

/* background:#e10000 url('../assets/image.png') no-repeat center center; */

/*



background-position:right top;
background-position: center center;
background-position: 200px 40px;
background-position: right 30px bottom 40px;
background-attachment: fixed;
background-attachment: scroll;




    padding: 30px 0px; */
}
.lorem p{
    text-align: center;
    text-align: right;
    text-align: left;
    text-decoration: underline;
    text-decoration: none;
}
ul{
    /* padding: 0;
    margin: 0; */
}
.hazera>li{
    /* list-style-type:upper-alpha; */
    list-style-position:inside ;
    padding: 0 20px;
    list-style-position:outside ;
}
table,td,th{
    width: 500px;
    border: 3px solid green;
    border-collapse: collapse;
    border-collapse: separate;

}

/*
position properties
link styling
  



*/