div{
    color: red;
}
/* hover*/
div:hover{
    color: green;
}


/*  links  */

/*  position properties
static
relative
absolute
fixed
sticky 
*/
.deadpool{
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    left: 300px;
    z-index: 10;
  

    
    /* bottom: 0; */

}
.wolverin{
    width: 200px;
    height: 50px;
    background:yellow;
    position: absolute;
    bottom : 0px;
  

}
.header{
    background:rgba(0, 77, 123, 1);
   width: 300px;
    height: 300px;
    position: fixed;
    top: 0px;
    z-index: 0;
    
}
.nav{
    background:rgba(0, 77, 33, 1) ;
    height:500px;
    width: 100%;
    position:fixed;
   z-index: -1;
    top: 0;

}
.banner{
    background:rgba(200, 0, 123, 1);
    height: 600px;
  
    z-index: 3; 
}
/*  z - index  */